* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    overflow: hidden;
}

.login-box {
    width: 350px;
    height: 450px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 70px 30px;
    border-radius: 10px;
}

.login-box h2 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.login-box .user-box {
    position: relative;
    margin-bottom: 40px;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}

.login-box button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    width: 150px;
    border-radius: 25px;
    border: 2px solid #03a9f4;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    color: black;
}

.login-box button:hover {
    background: #03a9f4;
    color: #fff;
    border-radius: 5px;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;    
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, #03a9f4, #8bc34a);
    animation: animate1 1s linear infinite;
}

.login-box button:hover span:nth-child(1) {
    left: 100%;
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, #03a9f4, #8bc34a);
    animation: animate2 1s linear infinite;
    animation-delay: 0.25s;
}

.login-box button:hover span:nth-child(2) {
    top: 100%;
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, #03a9f4, #8bc34a);
    animation: animate3 1s linear infinite;
    animation-delay: 0.5s;
}

.login-box button:hover span:nth-child(3) {
    right: 100%;
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, #03a9f4, #8bc34a);
    animation: animate4 1s linear infinite;
    animation-delay: 0.75s;
}

.login-box button:hover span:nth-child(4) {
    bottom: 100%;
}

@keyframes animate1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

@keyframes animate2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

@keyframes animate3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}
video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

